extends layout

block content
  <div class="container js-result">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Меланома</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          //- <li class="nav-item">
          //-   <a class="nav-link" href="#">О сервисе</a>
          //- </li>
          <li class="nav-item" data-toggle="modal" data-target="#exampleModal" data-show="true">
            <a class="nav-link" href="#">Инструкция по работе</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-show="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Инструкция по работе</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          .modal-body
            ol
              li Загружаете изображение с новообразованием
              li Отвечаете на вопросы
              li Отправляете 
              li Получаете результат
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        .alert.alert-warning(role="alert") Программа находится в начальной стадии разработки и носит рекомендательный характер. Разработчики не несут ответственность за действия пользователей после получения результата
        <form>
          <div class="input-group input-file mb-3" name="Fichier1">
            <input type="text" class="form-control" placeholder='Выберите файл' />			
              //- <span class="input-group-btn">
              <div class="input-group-append">
                <button class="input-group-text btn-choose" type="button">Выбрать</button>
              </div>
            </span>
          </div>
          //- <div class="input-group mb-3">
          //-   <div class="input-group-prepend">
          //-     <span class="input-group-text">Загрузить</span>
          //-   </div>
          //-   <div class="custom-file">
          //-     <input type="file" class="custom-file-input" id="inputGroupFile01" value="tes">
          //-     <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
          //-   </div>
          //- </div>
          <p class="lead">Вопрос #1
            <div>У вас белая или светлая кожа?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="skin" id="skin1" value="yes">
              <label class="form-check-label" for="skin1">Да</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="skin" id="skin2" value="no">
            <label class="form-check-label" for="skin2">Нет</label>
          </div>
          </p>
          <p class="lead">Вопрос #2
            <div>Цвет ваших волос светлый, рыжий или русый?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="hair" id="hair1" value="yes">
              <label class="form-check-label" for="hair1">Да</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="hair" id="hair2" value="no">
              <label class="form-check-label" for="hair2">Нет</label>
            </div>
          </p>
          <p class="lead">Вопрос #3
            <div>У вас есть веснушки?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="freckle" id="freckle1" value="yes">
              <label class="form-check-label" for="freckle1">Да</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="freckle" id="freckle2" value="no">
              <label class="form-check-label" for="freckle2">Нет</label>
            </div>
          </p>
          <p class="lead">Вопрос #4
            <div>Подвергались ли вы сильному воздействию ультрафиолета?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ultraviolet" id="ultraviolet1" value="yes">
              <label class="form-check-label" for="ultraviolet1">Да</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ultraviolet" id="ultraviolet2" value="no">
              <label class="form-check-label" for="ultraviolet2">Нет</label>
            </div>
          </p>
          <p class="lead">Вопрос #5
            <div>Эта родинка недавно появилась?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="period" id="period1" value="yes">
              <label class="form-check-label" for="period1">Да</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="period" id="period2" value="no">
              <label class="form-check-label" for="period2">Нет</label>
            </div>
          </p>
          <p class="lead">Вопрос #6
            <div>Была ли у ваших родственников меланома?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="family" id="family1" value="yes">
              <label class="form-check-label" for="family1">Да</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="family" id="family2" value="no">
              <label class="form-check-label" for="family2">Нет</label>
            </div>
          </p>
          <div class="btn btn-primary js-send">Отправить</div>
          //- <div class="btn btn-primary" data-toggle="modal" data-target="#submitModal">Отправить</div>
          <!-- Modal submit -->
          //- <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true" data-show="true">
          //-   <div class="modal-dialog" role="document">
          //-     <div class="modal-content">
          //-       <div class="modal-header">
          //-         <h5 class="modal-title" id="submitModalLabel">Результат</h5>
          //-         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          //-           <span aria-hidden="true">&times;</span>
          //-         </button>
          //-       </div>
          //-       .modal-body Вероятность меланомы - 60%
          //-       <div class="modal-footer">
          //-         <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          //-       </div>
          //-     </div>
          //-   </div>
          //- </div>
        </form>
      </div>
    </div>
  </div>

